@{
    ViewBag.Title = "Filmverwaltung";
}

<div class="jumbotron">
    <h1>Filmverwaltung</h1>
    <p class="lead">Verwalte all deine Filme und Serien mit den dazugehörigen Schauspielern und Produzenten!</p>
</div>

<div class="row">
	<div class="col-md-3">
		<p>@Html.ActionLink("Filme", "Index", "Film")</p>
	</div>
	<div class="col-md-3">
		<p>@Html.ActionLink("Serien", "Index", "Serie")</p>
	</div>
	<div class="col-md-3">
		<p>@Html.ActionLink("Schauspieler", "Index", "Schauspieler")</p>
	</div>
	<div class="col-md-3">
		<p>@Html.ActionLink("Produzenten", "Index", "Produzent")</p>
	</div>
</div>